@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

html,
body {
  min-height: 100vh;
  font-size: 18px;
  line-height: 1.2em;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
